<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.8.3/layui.js"></script>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Passenger Details </title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/bar.css" />

<!--	引入LayUi-->
	<link href="//unpkg.com/layui@2.8.0/dist/css/layui.css" rel="stylesheet">

	<!-- 引入 layui.js -->



</head>

<body onload="addElement()">
	<div class="header">
        <a href="index.html" class="logo">SCU Airlines</a>
        <a href="login.html" class="button">Login/Signup</a>
		<a href="#" class="button">Order</a>
        <a href="#" class="button active">Booking Ticket</a>
		<a href="index.html" class="button">Home</a>
		
    </div>
	<div id="detail-header">
		<h1><span>Let the Journey Begin</span> </h1>
	</div>

	

	<main>
		<div id="booking" class="section">
			<div class="container">
			</div>
		</div>
	</main>

	<script src="../static/js/order.js"></script>

</body>
</html>